.app-container{
  border: 3px solid black;
  width: 50%;
  }

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color : #f6f7f7 ;
}
h1{
  text-align: center;
}

input{
  
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 18px;
}
.drop{
  margin-bottom: 20px;
}
.menu-item{

  margin: 2px;
  padding-left: 10px;
 background-color: #ccc;
 width: 50%;
}